.error {
  color: red;
  font-weight: bold;
}

.title-row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.title-row > * {
  margin-top: auto;
  margin-bottom: auto;
}

.search-field {
  height: 42px !important;
}

.search-field .mdc-notched-outline .mdc-notched-outline__leading {
  border-radius: 20px 0 0 20px !important;
  width: 20px !important;
}

.search-field .mdc-notched-outline .mdc-notched-outline__trailing {
  border-radius: 0 20px 20px 0 !important;
}

.search-field .mdc-notched-outline .mdc-notched-outline__notch {
  max-width: calc(100% - 20px * 2) !important;
}

.search-field.mdc-text-field--with-leading-icon:not(.mdc-text-field--label-floating) .mdc-floating-label {
  left: 16px !important;
}

.search-field + .mdc-text-field-helper-line {
  padding-left: 32px !important;
  padding-right: 20px !important;
}
